exclude: ^(frontend/)

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.10.0
  hooks:
    # Update the uv lockfile
    - id: uv-lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.0
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
- repo: local
  hooks:
    - id: pytest
      name: Run Pytest
      language: system
      entry: uv run pytest tests
      types: [python]
      pass_filenames: false
