line-length = 88
indent-width = 4

target-version = "py312"

[lint]
select = [
    "E4",
    "E7",
    "E9",
    "F",
    "I",
    "A", # flake8-builtins
    "B", # flake8-bugbear
    "C4", # flake8-comprehensions
    "PLC", # Pylint convention
    "PLE", # Pylint error
    "RUF059", # unused unpacked variable
    "RUF1", # noqa-related
    "RUF200", # invalid pyproject.toml
]
ignore = [
    "PLC0415", # import should always be on top
    "B008", # no func calls in argument defaults, but FastAPI Depends needs it
]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
